body
{
    font-family: "Montserrat", serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main_container
{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar
{
    width: 350px;
    /* padding: 0.5rem; */
    margin: 0.5rem;
    background-color: black;
    border-radius: 1rem;
}

.nav
{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    border-radius: 1rem;
}

.nav_option
{
    line-height: 3rem;
    padding: 0.5rem 1.2rem;
}

.nav_option a:hover
{
    opacity: 1;
}

.nav_option i:hover
{
    opacity: 1;
}

.nav_option a
{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-left: 0.75rem;
    opacity: 0.7;
}

.nav_option i
{
    font-size: 1.25rem;
    opacity: 0.7;
}

.library
{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 100vh;
}
.options
{
    display: flex;
    justify-content: space-between;
}

.lib-option img
{
    height: 1.25rem;
    width: 1.25rem;
    opacity: 0.7;
}

.lib-option img:hover
{
    opacity: 1;
}

.icons i
{
    padding-right: 1rem;
}

.main_menu
{
    flex: 1;
    width: 100vh;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0 1.5rem;
    background-color: #121212;
    border-radius: 1rem;
    overflow: auto;
}

.player
{
    width: 100%;
    position: fixed;
    bottom: 0rem;
    height: 4rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #121212;
}

.box
{
    background-color: #232323;
    border-radius: 1rem;
    height: 8rem;
    margin: 0.75rem 0.5rem 1.25rem 0.5rem;
    padding: 0.5rem 1.25rem;
}

.p1
{
    font-size: 1rem;
    font-weight: 500;
}

.p2
{
    font-size: .85rem;
    opacity: 0.85;
}

.badge
{
    background-color: white;
    border-radius: 100px;
    border: none;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 1rem;
    width: fit-content;
    height: 2rem;
}

.badge2
{
    background-color: black;
    color: white;
}

.fixed-nav
{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    z-index: 10;
}

.fixed-nav-options img
{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
}

.fixed-nav-buttons button
{
    margin-right: 1rem;
    padding-right: 1rem;
}

.fixed-nav-buttons i
{
    margin-right: 0.25rem;
}

.user-icon
{
    padding-right: 1rem;
}

@media(max-width:1000px)
{
    .hide
    {
        display: none;
    }
}


.card-container
{
    display: flex;
    flex-wrap: wrap;
}

.cards
{
    width: 150px;
    background-color: #151515;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem 0 0;
}

.card-img
{
    border-radius: 1rem;
    width: 100%;
}

.footer
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line
{
    width: 90%;
    height: 30%;
    border-top: 2px solid white;
    opacity: 0.1;
}


.player
{
    display: flex;
}

.album
{
    width: 30%;
    display: flex;
    align-items: center;
}

.curr-song
{
    display: flex;
    align-items: center;
}
.album-img
{
    margin: 0.5rem;
    height: 70%;
    width: 15%;
}

.album-details
{
    margin: 0.25rem;
}

.song-title
{
    font-size: 1rem;
}

.artist
{
    font-size: 0.75rem;
    margin-top: -0.5rem;
}

.album-icons
{
    display: flex;
    right: 1rem;
}
.album-icons i
{
    padding-right: 0.5rem;
}
.music-player
{
    width: 40%;
}
.player-options
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.player-icons
{
    height: 1rem;
    width: 1rem;
    padding-right: 1.25rem;
    opacity: 0.5;
}

.player-icons:hover
{
    opacity: 1;
}

.play-button
{
    height: 2rem;
    width: 2rem;
    opacity: 1;
}

.play-button:hover
{
    margin: 0 -0.15rem 0 -0.1rem;
    height: 2.25rem;
    width: 2.25rem;
}

.player-bar
{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
}

.prog-bar
{
    appearance: none;
    width: 70%;
    cursor: pointer;
    background-color: transparent;
    padding: 0 0.5rem 0 0.5rem;
}

.prog-bar::-webkit-slider-runnable-track
{
    background-color: #232323;
    border-radius: 100px;
    height: 0.3rem;
}

.prog-bar::-webkit-slider-thumb
{
    appearance: none;
    background-color: white;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin-top: -6px;
}
.controls
{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1.5rem 0.5rem 0.5rem;
}